*
    margin: 0
    padding: 0
    box-sizing: border-box
html
	font-size: 14px
body
	position: relative
	min-width: 320px
	font-size: 14px
	line-height: 1.65
	color: #000000
	font-family: $main-font
	font-weight: 400
	overflow-x: hidden
	&.--menu-active
		overflow-y: hidden
	+m-table()
		font-size: 14px
.container
	width: 90%
	max-width: 1920px
	margin: 0 auto
	@include m-table
		width: 85%

.page
	max-width: 1920px
	padding: 0 10vw 10vh 10vw
	margin: 0 auto
	@include m-table
		width: 85%
		padding: 0 0 10vh 0
	&__title
		margin: 5vh 0
