.dont-show-add-to-card
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 10px 20px
    font-size: 0.9rem
    font-weight: bold
    color: $main-color
    text-align: center
    text-decoration: none
    line-height: 1.2em
    border-radius: 2px
    border: 1px solid transparent
    transition: all 0.3s ease-in-out
    color: #333
    background-color: #FFCBDE
    letter-spacing: 1px
    &:hover
        color: #fff
        background-color: $accent-color

