.catalog
    &__iner
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 5vw
        +m-smDesktop()
            grid-template-columns: 1fr 1fr 1fr
        +m-table()
            grid-template-columns: 1fr 1fr
        +m-phone()
            grid-template-columns: 1fr
            gap: 5vh
    &__pagination
        ul
            display: flex
            justify-content: center
            list-style: none
        li
            width: 30px
            height: 30px
            display: flex
            align-items: center
            justify-content: center
            margin: 0 5px
            border: 1px solid $border-color
            &:hover
                background-color: $help-color
        a
            padding: 5px
            color: $main-color
            text-decoration: none
        .current
            font-weight: bold
            