.content-section
    &__title
        margin-bottom: 5vh
    &__footer
        margin-top: 3vh
    &__content-iner
        ul
            padding-left: 20px
        p:not(:last-child)
            margin-bottom: 0.7em
    &__image-iner
        height: 100%
        *
            height: 100%
        figure
            font-size: 0
            box-shadow: 0 5px 25px rgba(0,0,0,.35)
            border-radius: 50px
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 5px