.grid
    &__iner
        height: 100%
        display: grid
        gap: 5vw
        //grid-template-rows: 100%
        +m-table()
            height: auto
            gap: 5vh
            //grid-template-rows: auto
        &--col-2
            grid-template-columns: 1fr 1fr
            +m-table()
                grid-template-columns: 1fr
        &--col-3
            grid-template-columns: 1fr 1fr 1fr
            +m-table()
                grid-template-columns: 1fr
        &--col-4
            grid-template-columns: 1fr 1fr 1fr 1fr
            +m-smDesktop()
                grid-template-columns: 1fr 1fr 1fr
            +m-table()
                grid-template-columns: 1fr
        &--sitebar-left
            grid-template-columns: 0.8fr 1fr
            +m-table()
                grid-template-columns: 1fr
        &--sitebar-right
            grid-template-columns: 1fr  0.8fr
            +m-table()
                grid-template-columns: 1fr
    &__col
        &--equal-height
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
        &--m-first
            +m-table()
                grid-row-start: 1
        &--m-center
            +m-table()
                text-align: center
                align-items: center