extends ../layouts/main

block variables
    - var title = 'Создание блоков';
    - var pageClass = 's';
    - var mainContentClass = 's__main';

block main-content
    .full-width-banner.full-width-banner--header-full-height
        figure
            img(src="img/home_img.jpg", alt="")

    section.container.content-section
        .title__iner.content-section__title
            span.title__sub-title Прокат уникальных платьев ручной работы
            h1.title__like-h1 Мы же знаем как важно для тебя быть особенной!
            span.title__separator
        .content-section__sitebar-block.content-section__sitebar-block--left
            .content-section__content-iner
                h3 У нас ты найдешь платья для:
                ul
                    li сьемки беременности
                    li love story
                    li ‘family look’ — платья мама+дочь
                    li портретная сьемка
                    li fashion style
            .content-section__content-iner    
                p #[strong IRIS DRESS RENT] - это сервис проката платьев для фотосессий любых стилей!
                p Главным нашим преимуществом есть то, что все платья авторского дизайна и ты больше нигде не встретишь такое же!
                p Мы же знаем, как важно для тебя быть особенной!

    .content-section.content-section--highlighted
        .container
            a(href="#").btm.btm--action Записатся
            a(href="#").btm.btm--service Отправить
            button.btm.btm--action Отправить примерку
            button.btm.btm--service Отменить действие
    
    section.container.content-section.content-section--full-height
        .content-section__sitebar-block.content-section__sitebar-block--left.content-section__sitebar-block--mobile-center
            .content-section__content-iner
                .title__iner.content-section__title
                    h2.title__like-h1.title__like-h1--uppercase Подарочные сертификаты
                p Отличный сюрприз для друзей, близких и родных.
                p Сертификат дает возможность сделать фотосессию в нашего фотографа вместе с выбором платья и работой стилиста.
                p И чтобы ты не беспокоилась — мы его тебе доставим бесплатно!
                .content-section__footer
                    a(href="#").btm.btm--service Узнать детальее
            .content-section__image-iner
                figure
                    img(src="img/img-1.jpg", alt="")

    section.content-section.content-section--full-height.content-section--highlighted
        .container
            .content-section__sitebar-block.content-section__sitebar-block--right.content-section__sitebar-block--mobile-center
                .content-section__image-iner
                    figure
                        img(src="img/img-2.jpg", alt="")
                .content-section__content-iner
                    .title__iner.content-section__title
                        h2.title__like-h1.title__like-h1--uppercase Фотодни и Фотопроекты «Все Включено»
                    p Авторские тематические фотосессии с готовой концепцией от нашей команды «Happy Moments Group» by Iris Dress Rent!
                    p 
                        i Жизнь соткана из моментов…
                    .content-section__footer
                        a(href="#").btm.btm--service Узнать детальее
            