extends ../layouts/page

include ../block/cart

block variables
    - var title = 'Каталог';
    - var pageClass = 'catalog__page';
    - var mainContentClass = 'catalog__main';
    - var bread = ['Каталог платьев для аренды', 'Платья'];
    - var pageTitle = 'Платья';

block main-content
    .catalog__iner
        +cart-product("img/catalog_img_1.jpg")
        +cart-product("img/catalog_img_0.jpg")
        +cart-product("img/catalog_img_2.jpg")
        +cart-product("img/catalog_img_3.jpg")
        +cart-product("img/catalog_img_2.jpg")
        +cart-product("img/catalog_img_0.jpg")
        +cart-product("img/catalog_img_1.jpg")
        +cart-product("img/catalog_img_0.jpg")
        +cart-product("img/catalog_img_2.jpg")
        +cart-product("img/catalog_img_3.jpg")
        +cart-product("img/catalog_img_2.jpg")
        +cart-product("img/catalog_img_0.jpg")
    .section.catalog__pagination
        ul.page-numbers
            li
                span(aria-current="page" class="page-numbers current") 1
            li
                a(class="page-numbers" href="#") 2
            li
                a(class="next page-numbers" href="#") →