extends ../layouts/main

include ../block/btm

block variables
    - var title = 'Главная страница';
    - var pageClass = 'category__page';
    - var mainContentClass = 'category__main';

block before-main-content
    .navigation
        .container
            .navigation__title
                h1 Каталог платьев для аренды
            .navigation__bread-crumbs
                ul
                    li 
                        a(href="/") Главная
                    li
                        a(href="#") Каталог платьев для аренды

block main-content
    .container.sec
        .title__iner.title__iner--center
            h2.title__like-h1.title__like-h1--uppercase Каталог
            span.title__separator
    .container.category__iner
        article.category__cart-iner
            a(href="catalog.html")
                figure.category__image
                    img(src="img/catalog_img_1.jpg", alt="")
                h3.category__title Комплекты "мама+дочь"
        article.category__cart-iner
            a(href="catalog.html")
                figure.category__image
                    img(src="img/catalog_img_2.jpg", alt="")
                h3.category__title Для беременных
        article.category__cart-iner
            a(href="catalog.html")
                figure.category__image
                    img(src="img/catalog_img_3.jpg", alt="")
                h3.category__title Платья
        article.category__cart-iner
            a(href="catalog.html")
                figure.category__image
                    img(src="img/catalog_img_0.jpg", alt="")
                h3.category__title Другие образы