extends ../layouts/main

include ../block/btm
include ../common/navigation

block variables
    - var title = 'Создание блоков';
    - var pageClass = 's';
    - var mainContentClass = 's__main';

block main-content
    +navigation('Каталог платьев для аренды', ['Каталог платьев для аренды'])

    .full-width-banner.full-width-banner--header-full-height
        figure
            img(src="img/home_img.jpg", alt="")


    .page
        .section
            .awooc-col.columns-right.awooc-col-full
                #wpcf7-f1430-o1.wpcf7(role='form', lang='en-US', dir='ltr')
                    .title__iner.title__iner--center
                        h2.title__like-h2 Забронювати сукню
                        p.title__separator
                    .fitting-form
                        span.wpcf7-form-control-wrap.awooc-text
                            input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form__text.wpcf7-not-valid(type='text', name='awooc-text', value='', size='40', aria-required='true', aria-invalid='true', placeholder="Ваше ім'я")
                            span.wpcf7-not-valid-tip(role='alert') Поле обов'язкове для заповнення
                        span.wpcf7-form-control-wrap.awooc-email
                            input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.form__text.wpcf7-not-valid(type='email', name='awooc-email', value='', size='40', aria-required='true', aria-invalid='true', placeholder='Ваш Е-Мail')
                            span.wpcf7-not-valid-tip(role='alert') Поле обов'язкове для заповнення
                        span.wpcf7-form-control-wrap.awooc-tel
                            input.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel.form__text.wpcf7-not-valid(type='tel', name='awooc-tel', value='', size='40', aria-required='true', aria-invalid='true', placeholder='Номер телефону')
                            span.wpcf7-not-valid-tip(role='alert') Поле обов'язкове для заповнення
                        div
                            label(for='awooc-zad') &Zcy;&acy;&dcy;&acy;&tcy;&ocy;&kcy;
                            span.wpcf7-form-control-wrap.awooc-zad
                                select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required(id="awooc-zad" name='awooc-zad' aria-required='true' aria-invalid='false')
                                    option(value='Громадянський паспорт') Громадянський паспорт
                                    option(value='Закордонний паспорт') Закордонний паспорт
                                    option(value='Водійське посвідчення') Водійське посвідчення
                                    option(value='Грошовий завдаток(від 1500 грн)') Грошовий завдаток(від 1500 грн)

                        div
                            label(for="date-82") Дата фотосесії
                            span.wpcf7-form-control-wrap.date-82
                                input.wpcf7-form-control.wpcf7-date.wpcf7-validates-as-date(id="date-82" type='text' name='date-82' value='' aria-invalid='false')
                        div
                            label(for="date-83") Час фотосесії
                            span.wpcf7-form-control-wrap.date-83
                                input.wpcf7-form-control.wpcf7-text.form__text(type='text' id="date-83" name='date-83' value='' size='40' aria-invalid='false' placeholder='ГГ:ХХ')


                        span.wpcf7-form-control-wrap.your-message
                            textarea.wpcf7-form-control.wpcf7-textarea.form__text(name='your-message' cols='40' rows='10' aria-invalid='false' placeholder="Фотограф (посилання на соціальні мережі)")
                        span.wpcf7-form-control-wrap.your-message
                            textarea.wpcf7-form-control.wpcf7-textarea.form__text(name='your-message' cols='40' rows='10' aria-invalid='false' placeholder="Фотостудія (назва та локація)" )
                        input.wpcf7-form-control.wpcf7-submit.btm.btm--action(type='submit' value='Забронювати')
                        
                        span.ajax-loader
                    p
                        span.wpcf7-form-control-wrap.awooc-hidden-data
                        input.awooc-hidden-product-id(type='hidden', name='awooc_product_id', value='1361')
                        input.awooc-hidden-product-qty(type='hidden', name='awooc_product_qty', value='')
                    .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors(style='display: block;', role='alert')
                        p В полях містяться помилкові данні. Будь ласка, перевірте правильність заповнення форми.

    section.sec.container
        .title__iner.content-section__title
            span.title__sub-title Прокат уникальных платьев ручной работы
            h2.title__like-h1 Мы же знаем как важно для тебя быть особенной!
            span.title__separator
        .grid__iner.grid__iner--sitebar-left
            .grid__col.content-section__content-iner
                h3 У нас ты найдешь платья для:
                ul
                    li сьемки беременности
                    li love story
                    li ‘family look’ — платья мама+дочь
                    li портретная сьемка
                    li fashion style
            .grid__col.content-section__content-iner    
                p #[strong IRIS DRESS RENT] - это сервис проката платьев для фотосессий любых стилей!
                p Главным нашим преимуществом есть то, что все платья авторского дизайна и ты больше нигде не встретишь такое же!
                p Мы же знаем, как важно для тебя быть особенной!

    .sec.sec--highlighted
        .container
            a(href="#").btm.btm--action Записатся
            a(href="#").btm.btm--service Отправить
            button.btm.btm--action Отправить примерку
            button.btm.btm--service Отменить действие
            +btm-a--action('Записатся')
            +btm-a--service('Отправить')
    
    section.container.sec--full-height
        .grid__iner.grid__iner--sitebar-left
            .grid__col.grid__col--m-center.grid__col--equal-height
                .title__iner.content-section__title
                    h2.title__like-h1.title__like-h1--uppercase Подарочные сертификаты
                .content-section__content-iner
                    p Отличный сюрприз для друзей, близких и родных.
                    p Сертификат дает возможность сделать фотосессию в нашего фотографа вместе с выбором платья и работой стилиста.
                    p И чтобы ты не беспокоилась — мы его тебе доставим бесплатно!
                .content-section__footer
                    +btm-a--service('Узнать детальее')
            .grid__col.grid__col--equal-height.content-section__image-iner
                figure
                    img(src="img/img-1.jpg", alt="")

    section.sec.sec--full-height.sec--highlighted
        .container
            .grid__iner.grid__iner--sitebar-right
                .grid__col.grid__col--equal-height.content-section__image-iner
                    figure
                        img(src="img/img-2.jpg", alt="")
                .grid__col.grid__col--m-first.grid__col--m-center.grid__col--equal-height
                    .title__iner.content-section__title
                        h2.title__like-h1.title__like-h1--uppercase Фотодни и Фотопроекты «Все Включено»
                    .content-section__content-iner
                        p Авторские тематические фотосессии с готовой концепцией от нашей команды «Happy Moments Group» by Iris Dress Rent!
                        p 
                            i Жизнь соткана из моментов…
                    .content-section__footer
                        +btm-a--service('Узнать детальее')
    
    div(style="height: 200px")

    section.sec.sec--highlighted
        .container
            .title__iner.title__iner--center
                h2.title__like-h2 Записаться на примерку
            form(action="index.php", method="get")
                .fitting-form
                    input(type="text" placeholder="Твое имя*").form__text
                    input(type="text" placeholder="Телефон*").form__text
                    input(type="text" placeholder="E-Mail").form__text
                    button.btm.btm--action Отправить