extends ../layouts/page

include ../block/cart

block variables
    - var title = 'Каталог';
    - var pageClass = 'catalog__page';
    - var mainContentClass = 'catalog__main';
    - var bread = ['Вопрос / Ответ'];
    - var pageTitle = 'Вопрос / Ответ';

block main-content
    .content-section__content-iner
        h3 1.ЗАЛОГ
        p Отдавая Вам для фотосессии наши платья, взамен мы просим оставить залог!
        p Это ради того, чтобы вовлечь тебя тоже в чувство ответственности и любви к нашим платьям!
        p Варианты залога:
        ul
            li -гражданский паспорт
            li -загранпаспорт
            li -водительское удостоверение
            li -денежный залог(от 1500 грн)! В зависимости от платья!
        p Конечно же, мы каждой из Вас даём рекомендации о том, как нужно заботится на съёмке о наряде в котором Вы фотографируетесь !
        p В случае, если после проката возникают вопросы по поводу повреждения, мелкого ремонта, пятен или не возврата - мы страхуем себя оставленным Вами залогом!
        p Просим обратить внимание, некоторые платья потребуют залога в виде: документ+денежный залог(уточняйте) !
        p Просим относится с пониманием !