extends ../layouts/main

include ../block/btm
include ../common/navigation
include ../block/cart

block variables
    - var title = 'Фото дни';
    - var pageClass = 'projects__page';
    - var mainContentClass = 'projects__main';

block before-main-content
    +navigation('Фотодни и Фотопроекты', ['Фотодни и Фотопроекты'])

block main-content
    .container--small
        .title__iner.title__iner--center.page__title
            h2.title__like-h1.title__like-h1--uppercase Фотодни и Фотопроекты
            span.title__separator
        .section.content-section__content-iner
            h3 1.ЗАЛОГ
            p Отдавая Вам для фотосессии наши платья, взамен мы просим оставить залог!
            p Это ради того, чтобы вовлечь тебя тоже в чувство ответственности и любви к нашим платьям!
            p Варианты залога:
            ul
                li -гражданский паспорт
                li -загранпаспорт
                li -водительское удостоверение
                li -денежный залог(от 1500 грн)! В зависимости от платья!
            p Конечно же, мы каждой из Вас даём рекомендации о том, как нужно заботится на съёмке о наряде в котором Вы фотографируетесь !
            p В случае, если после проката возникают вопросы по поводу повреждения, мелкого ремонта, пятен или не возврата - мы страхуем себя оставленным Вами залогом!
            p Просим обратить внимание, некоторые платья потребуют залога в виде: документ+денежный залог(уточняйте) !
            p Просим относится с пониманием !
    .projects__iner
        article.projects__item
            .projects__description
                .title__iner.content-section__title
                    h2.title__like-h1.title__like-h1--uppercase "МОЕ ЧУДО"
                .content-section__content-iner
                    p На эти кадры Ты будешь смотреть всю жизнь, они пропитанны твоим состоянием в моменте... моменте счастья здесь и сейчас! Незабываемый период, когда твой малыш еще такой кроха!
                    p Стильная сьемка в актуальном стиле минимализма вместе с твоим малышом!Это ваш маленький мир первого года жизни, который хочется оставить не только в памяти, но и на снимках, которые будут с вашей семьей всю жизнь!
                .content-section__footer
                    +btm-a--service('Узнать детальее', 'project.html')
            .projects__image
                figure
                    img(src="img/photo_1.jpg", alt="") 
        article.projects__item
            .projects__description
                .title__iner.content-section__title
                    h2.title__like-h1.title__like-h1--uppercase "Сказка в образе Белль"
                .content-section__content-iner
                    p Каждая девочка мечтает с детства быть принцессой! Этот образ, когда ты в шикраном красивом платье, с макияжем и невероятной укладкой от нашей команды профессионалов ! 
                    p По твоему желанию у нас есть невероятной красоты диадемы и короны, которые подчеркнут твой образ !
                        i Жизнь соткана из моментов…
                .content-section__footer
                    +btm-a--service('Узнать детальее', 'project.html')
            .projects__image
                figure
                    img(src="img/photo_2.jpg", alt="") 
        article.projects__item
            .projects__description
                .title__iner.content-section__title
                    h2.title__like-h1.title__like-h1--uppercase "Сказка в образе Белль"
                .content-section__content-iner
                    p Каждая девочка мечтает с детства быть принцессой! Этот образ, когда ты в шикраном красивом платье, с макияжем и невероятной укладкой от нашей команды профессионалов ! 
                    p По твоему желанию у нас есть невероятной красоты диадемы и короны, которые подчеркнут твой образ !
                        i Жизнь соткана из моментов…
                .content-section__footer
                    +btm-a--service('Узнать детальее', 'project.html')
            .projects__image
                figure
                    img(src="img/photo_2.jpg", alt="") 
        article.projects__item
            .projects__description
                .title__iner.content-section__title
                    h2.title__like-h1.title__like-h1--uppercase "МОЕ ЧУДО"
                .content-section__content-iner
                    p На эти кадры Ты будешь смотреть всю жизнь, они пропитанны твоим состоянием в моменте... моменте счастья здесь и сейчас! Незабываемый период, когда твой малыш еще такой кроха!
                    p Стильная сьемка в актуальном стиле минимализма вместе с твоим малышом!Это ваш маленький мир первого года жизни, который хочется оставить не только в памяти, но и на снимках, которые будут с вашей семьей всю жизнь!
                .content-section__footer
                    +btm-a--service('Узнать детальее', 'project.html')
            .projects__image
                figure
                    img(src="img/photo_1.jpg", alt="") 
    
    .container--small.calc
        .section.title__iner.title__iner--center
            h2.title__like-h1.title__like-h1--uppercase Калькулятор фотосесії
            span.title__separator
            p.title__sub-title Обери послуги, які тобі потрібно та збери власну фотосесію
        .section.calc__iner
            .calc__package-row
                .calc__package
                    label(for="package_1") #[span Light] 1 година
                        input#package_1(type="radio", name="package", value="1", checked)
                .calc__package
                    label(for="package_2") #[span GOLD]  2 година
                        input#package_2(type="radio", name="package", value="2")
            section.calc__price
                h3 Ціна 
                .title__separator
                p#price 0

            .calc__arguments
                .calc__argument-row
                    label(for="switch1").calc__checkbox.active #[span ] Додаткові сукні 
                        input(type="checkbox" id="switch1" data-price="700" data-count="1" data-current="" data-depend="true" checked)
                    label(for="switch-num").calc__number
                        span.calc__pulse +
                        input(type="number", id="switch-num" min="1" max="20")
                        span.calc__minuse -
                +checkbox-row('Оренда фотостудії', 200, 2)
                +checkbox-row('Фотограф', 2000, 3)
                +checkbox-row('Макіяж', 200, 4)
                .calc__argument-row
                    label(for="switch-5" + num).calc__checkbox  #[span ] Укладка
                        input(type="checkbox" id="switch-5" + num data-price="200" data-current="0" data-depend="true")
                +checkbox-row('Додаткова ретуш', 300, 6)
                +checkbox-row('Прискорена обробка фотографій', 1100, 7)
                +checkbox-row('Запис фото на флешку', 1000, 8)
                +checkbox-row('Фотокнига', 1500, 9)
            .calc__action
                button.btm.btm--action(onclick="send()") Забронювати
                button.btm.btm--service(onclick="send()") Забронювати в рострочку

mixin checkbox-row(labelText, price, num)
    .calc__argument-row
        label(for="switch-" + num).calc__checkbox  #[span ] #{labelText}
            input(type="checkbox" id="switch-" + num data-price= price data-current="0")