mixin popup(title, elId="popup")
    article.popup( id = elId)
        .popup__iner
            .popup__title
                .title__iner
                    h3.title__like-h2= title
                    span.title__separator
                .popup__close
                    span X
            .popup__content.content-section__content-iner    
                block