footer.footer
    .container.footer__iner
        .footer__adress
            h3 Адреса
            p Київ, проспект Леся Курбаса, 2Б
            p Будівля заводу НВП Сфтурн (центральний вхід)
        .footer__contact
            h3 Контакти
            p
                a(href="mailto:iris.2017@ukr.net") iris.2017@ukr.net
            p
                a(href="tel:+380634300882") +380634300882 <br>
                span Viber/Telegram
        .footer__social
            a(href="#" target="_blank")
                i.icon.icon--inst
            a(href="#" target="_blank")
                i.icon.icon--fb
    .footer__copyright
        span © Копирайт - Iris Dress - 2020. 
            a(href="anderkovalchuk.com" target="_blank") Ander Kovalchuk Dev